.pantalla-calculadora {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 10rem;
    min-height: 2.5rem;
    border: 0px;
    box-shadow: 0px 5px;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    color: blue;
    background-color: rgba(0, 0, 255, 0.171);
}

.teclado-callculadora {
    display: flex;
    flex: 1 1;
    gap: 0.5rem;
    flex-direction: column;
}

.filla-calculadora {
    display: flex;
    gap: 0.5rem;
}